<!-- Display classification view title -->
<% if (title) { %>
<h1 class="page-title"><%= title %></h1>
<% } else {
    res.redirect('/')
} %>

<!-- Display classification view message -->
<%# messages() %>

 <!-- Display inventory items main content -->
<%- grid %>