<!-- Building classification view title -->
<% if (title) { %>
<h1 class="page-title"><%= title %></h1>
<% } else {
    res.redirect('/')
} %>

<!-- Build classification view message -->
<%# messages() %>

 <!-- Inventory items main content display -->
<%- grid %>