<!-- Display title -->
<% if (title) { %>
<h1 class="page-title"><%= title %></h1>
<% } %>

<!-- Display view message -->
<%- messages() %>

<!-- Display server-side validation errors -->
<% if (errors) { %>
  <ul class="notice">
    <% errors.array().forEach(error => { %>
      <li><%= error.msg %></li>
    <% }) %>
  </ul>
<% } %>

<!-- Management Links -->
<ul class="management-links">
  <li><a href="/inv/add-classification" title="Click to add a new vehicle classification">Add New Classification</a></li>
  <li><a href="/inv/add-inventory" title="Click to add a new vehicle">Add New Vehicle</a></li>
</ul>

<h2>Manage Inventory</h2>
<p>Choose a classification to see those inventory items.</p>
<%- classificationList %>

<table id="inventoryDisplay"></table>

<noscript>JavaScript must be enabled to use this page.</noscript>

<script src="../../js/inventory.js"></script>

